* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar-thumb {
  background-color: #3d3b3e;
}
::-webkit-scrollbar {
  background: white;
}
#bd .navbar {
  color: white;
  font-family: MBCorpo Title, sans-serif;
  padding: 1rem;
  position: absolute;
  width: 100%;
}
#bd .nav-cont {
  flex-wrap: nowrap;
}
#bd .nav-cont > * {
  flex: 1;
  display: flex;
  align-items: center;
}
#bd .navbar-nav {
  flex-direction: row;
  color: white;
  gap: 2rem;
}
#bd .navbar-nav a {
  color: #000000d4;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
#bd .navbar-nav a:hover {
  color: #000000;
}
.logo {
  width: 135px;
}
.logo:nth-child(2) {
  position: absolute;
  width: 29px;
  top: 38px;
  left: 56.5px;
}
.logo2 {
  animation: rotating 5s linear infinite;
  -webkit-animation: rotating 5s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}
.nav-child3 {
  justify-content: flex-end;
}
.nav-child3 i {
  font-size: 1.7rem;
  margin-bottom: 2.2rem;
  color: #222a2f;
  cursor: pointer;
}
.front {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr / 0.8fr 0.5fr 1fr 1fr;
  align-items: center;
}
.front-child1 {
  padding-right: 2rem;
  grid-column: 1 / 3;
  grid-row: 1;
}
.front-child2 {
  grid-column: 2 / 5;
  grid-row: 1;
}

.front h1 {
  margin-left: 27px;
  font-family: "Prosto One", sans-serif;
  font-size: 3.6rem;
  left: 0;
  margin-bottom: 2rem;
  z-index: 1;
  position: relative;
}
.back {
  position: absolute;
  width: 100%;
  z-index: -30;
  bottom: 0;
}
.car {
  width: 100%;
  mix-blend-mode: darken;
  z-index: -1;
  position: relative;
}
.order {
  border-width: 1px;
  border-style: solid;

  background-color: #222a2f;
}
.order a {
  color: white;
}
.view a {
  color: black;
}

.view {
  border-radius: 50em;
  border: 2px solid #222a2f;
}

.view,
.order {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 13px 1rem 0 1.8rem;
  max-width: 11rem;
  width: 100%;
  transition: 0.3s;
  padding: 0;
}
.view::before {
  border-radius: 50rem;
}
.order:hover {
  background-color: black;
  color: #ffffffd1;
}
.order a,
.view a {
  z-index: 10;
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 10px;
}
.account:hover {
  color: black;
}
.view:hover {
  background-color: #222a2f;
}
.view:hover a {
  color: white;
}
.car2 {
  display: none;
}
#bd .nav-child2b {
  display: none;
}
.sign {
  display: flex;
  padding: 0 2rem;
  background-color: transparent;
  border-radius: 0.3rem;
  align-items: center;
  color: #d8ccccfc;
  font-size: 1.3rem;
  margin-top: 1rem;
  transition: all 0.3s;
  border-right: 3px solid;
  border-top: 1px solid;
  border-bottom: 3px solid;
  border-left: 1px solid;
}
.sign:hover {
  color: white;
}
@media screen and (max-width: 1284px) {
  .front-child1 {
    margin-top: 1rem;
  }
  .front h1 {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .view,
  .order {
    margin: 30px 0 10px 1.8rem;
    max-width: 10rem;
  }
  @media screen and (max-width: 1160px) {
    .view,
    .order {
      max-width: 9rem;
    }
    @media screen and (max-width: 1040px) {
      .order {
        margin: auto;
      }
      .car1 {
        display: none;
      }
      .car2 {
        display: inline-block;
      }
      .front {
        grid-template: 1.3fr 1fr 1fr 1fr 0.5fr / 1fr;
        text-align: center;
      }
      .front h1 {
        font-size: 3.3rem;
        margin: 0 1.6rem;
      }
      .front-child1 {
        padding: 0;
        grid-row: 4 / 5;
        margin-top: 0;
      }
      .front-child2 {
        grid-row: 2 / 4;
        grid-column: inherit;
      }
      .view,
      .order {
        max-width: 13rem;
        margin-top: 35px;
      }
      @media screen and (max-width: 800px) {
        #bd .account {
          display: none;
        }
        #bd .nav-child2b {
          display: inline-block;
        }
        #bd .nav-child2a {
          display: none;
        }
        .icon-1,
        .icon-2,
        .icon-3 {
          width: 32px;
          height: 3px;
          background-color: black;
          transition: all 400ms ease;
        }

        .icon-1 {
          animation-delay: 100ms;
        }

        .icon-3 {
          animation-delay: 250ms;
        }

        .hamburger-icon {
          padding-right: 2px;
          transform: scale(0.8);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 4px;

          position: absolute;
          height: 44px;
          width: 60px;
          top: 1.4rem;
          right: 1rem;
          z-index: 1000;
          cursor: pointer;
          border-radius: 5px;
          transition: all 0.2s ease-in-out;
          background: rgb(255 255 255 / 43%);
          &:hover {
            transform: scale(1);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
          }
        }

        .icon-1.a {
          transform: rotate(40deg);
          position: relative;
          top: 3px;
          width: 37px;
        }
        #bd .icon-3.b {
          transform: rotate(-40deg);
          position: relative;
          bottom: 2px;
          width: 37px;
        }
        .icon-2.c {
          opacity: 0;
        }

        .clear {
          clear: both;
        }

        @keyframes slideIn {
          0% {
            width: 0%;
            opacity: 0;
          }

          100% {
            width: 50%;
            opacity: 1;
          }
        }

        #nav {
          overflow-x: hidden;
          background-color: #222a2f;
          position: absolute;
          top: 0;
          right: 0;
          height: 100vh;
          width: 0%;
          z-index: 10;
          opacity: 0;
          transition: all 600ms cubic-bezier(0.62, 0.04, 0.3, 1.56);
          transition-delay: 100ms;
          .ul {
            margin: 0;
            position: absolute;
            top: 30%;
            left: 7vw;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .li {
              list-style: none;
              font-size: 24px;
              color: #fff;
              line-height: 2.2;
              text-transform: uppercase;
              letter-spacing: 1.7px;
              cursor: pointer;
              &:before {
              }
            }
          }
        }
        .li a {
          text-decoration: none;
          color: #d8ccccfc;
        }
        .nav-child3 i {
          color: #d8ccccfc;
          font-size: 2rem;
          margin-top: 1rem;
        }
        .li1,
        .li2,
        .li3,
        .li4,
        .li5 {
          font-size: 1.3rem !important;
        }
        .li1::before,
        .li2::before,
        .li3::before,
        .li4::before,
        .li5::before {
          content: "";
          background-color: #d8ccccfc;
          position: absolute;
          bottom: 8px;
          left: 0;
          transform: scalex(0);
          transition: transform 0.3s;
          transform-origin: bottom right;
          height: 2px;
        }
        .li1::before {
          width: 40%;
        }
        .li2::before {
          width: 67%;
        }
        .li3::before {
          width: 45%;
        }
        .li4::before {
          width: 100%;
        }
        .li5::before {
          width: 64%;
        }
        .li1,
        .li2,
        .li3,
        .li4,
        .li5 {
          transition: 0.5s ease;
          position: relative;
        }

        .li:hover::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        #nav.show {
          width: 53%;
          opacity: 1;
        }

        .gap {
          gap: 0;
        }

        .front h1 {
          font-size: 3rem;
        }
        @media screen and (max-width: 700px) {
          .back {
            display: none;
          }
          .back2 {
            display: none;
          }
          .front {
            grid-template: 2fr 1fr 1fr 1fr 1fr / 1fr;
          }
          @media screen and (min-width: 480px) {
            #bd .choose-us-cont {
              margin-top: 28rem;
            }
          }

          @media screen and (max-width: 560px) {
            .view,
            .order {
              max-width: 11rem;
            }
            @media screen and (max-width: 545px) {
              .front h1 {
                margin: 0 1rem;
                font-size: 2.5rem;
              }
              @media screen and (max-width: 410px) {
                #nav.show {
                  width: 70%;
                }
                .front {
                  grid-template: 0.5fr 1fr 1fr 1fr 1fr / 1fr;
                }
                .front-child1 {
                  margin-top: -5rem;
                }
                .order {
                  margin: 1rem auto;
                  max-width: 9rem;
                }
                .view {
                  margin: 1rem auto 1rem 1rem;
                  max-width: 9rem;
                }
                @media screen and (max-width: 359px) {
                  .order {
                    font-size: 14px;
                    max-width: 8rem;
                  }
                  .view {
                    margin-left: 10px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.products {
  position: relative;
  height: 100vh;
}
.back2 {
  position: absolute;
  width: 100%;
  z-index: -30;
  top: 0;
}
.cars1-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cars1-topic h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cars1-topic img {
  max-width: 9rem;
}
.cars1-topic p {
  margin: 10px 0 0;
  max-width: 648px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.88;
}
.prod-cont {
  max-width: 1530px;
  margin: auto;
}
.cars1-main {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 4rem 1.5rem;
}
.cars1-main > * {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 0;
  background: white;
  border: 1px solid #00000063;
  box-shadow: 5px 5px 10px #0000005e;
  max-width: 440px;
  justify-content: space-between;
  border-radius: 25px;
  flex: 1;
}
.car-cont1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.car-cont1 img {
  width: 75%;
}
.car-cont2 {
  display: flex;
  flex-direction: column;
}
.car-cont2 h1 {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 800;
}
.car-info-cont {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.car-info-cont > * {
  font-weight: 700;
  margin: 0;
}
ul {
  margin-top: 13px;
  margin-left: -14px;
}
.feature-btn {
  height: 3rem;
  width: 100%;
  border-radius: 2rem;
  align-self: center;
  margin: 1rem 0 2rem;
  box-shadow: 2px 3.5px 0 black;
  border: 1px solid #00000054;
  font-weight: 500;
  transition: all 0.1s;
  background-color: transparent;
}
.feature-btn a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-btn:hover {
  font-weight: 900;
}
.clicked {
  transform: translate(2px, 3.5px);
  box-shadow: none;
}
#bd .f2-car {
  width: 87%;
  margin-top: 1rem;
}
.pp {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .cars1-main {
    flex-wrap: wrap;
  }
  .cars3-main-child {
    flex-basis: 100%;
    max-width: 435px;
  }
  @media screen and (max-width: 728px) {
    .cars2-main-child {
      flex-basis: 100%;
    }
  }
}
.cars2-topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.cars2-topic h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.cars2-topic img {
  max-width: 9rem;
}
.cars2-topic p {
  margin: 10px 0 0;
  max-width: 750px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.88;
}
.cars2-main {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cars-main {
  flex: 75%;
  border-top: 2px solid white;
  padding-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  max-width: 1460px;
}
.cars-cont {
  max-width: 365px;
  padding: 13px 1rem 0;
  height: 380px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2.5rem;
}
.prod {
  width: 80%;
}
#bd .prod1 {
  width: 90%;
}
#bd .prod7 {
  width: 100%;
}
#bd .prod6 {
  width: 90%;
}
#bd .prod8 {
  width: 100%;
}
.car-info {
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  justify-items: center;
}
.car-info > * {
  opacity: 0.85;
  font-size: 1vw;
}
.car-info-cont1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.car-info-cont1 div {
  display: flex;
  align-items: center;
}
.car-info-cont1 h1 {
  font-size: 1rem;
  padding: 1rem 1rem;
  margin: 0;
  flex: 172px;
  background: #00000017;
  text-align: center;
  border-radius: 2rem;
}
.car-info-cont1 img {
  max-width: 30px;
}
.car-info-cont1 p {
  margin: 0;
}
.car-info-cont2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.car-info > *:nth-child(1) {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.car-info img {
  max-width: 43px;
}
.car-info-cont2 > *:nth-child(2) {
  width: 100%;
  position: absolute;
  bottom: -40px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9dff4;
}
.buy {
  transition: 0.3s;
  cursor: pointer;
}
.buy p {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Montserrat";
  position: relative;
  transition: opacity 0.3s;
}
.cars-cont:nth-child(1),
.cars-cont:nth-child(2),
.cars-cont:nth-child(3),
.cars-cont:nth-child(4) {
  margin-bottom: 2.5rem;
}
.buy a {
  content: "";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 0;
  transition: 0.3s;
  background-color: #222a2f;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Montserrat";
}
.buy:hover a {
  height: 100%;
}
.buy p:nth-child(2) {
  opacity: 0;
  z-index: 10;
  color: #dadada;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.buy:hover p {
  opacity: 0;
}
.buy:hover p:nth-child(2) {
  opacity: 1;
}
.tab-btns-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background: white;
  padding: 10px 16px;
  border-radius: 40px;
}
.tab-btns {
  margin: 0;
  padding: 14px 38px;
  border-radius: 3rem;
  font-family: "Montserrat";
  font-size: 1.15rem;
  transition: 0.3s;
  cursor: pointer;
}
.tab-btns p {
  margin: 0;
  color: black;
  transition: 0.3s;
}
.tab-btns:hover {
  background-color: #222a2f;
}
.tab-btns:hover p {
  color: white;
}
.tab-clicked {
  background-color: #222a2f;
  color: white;
}
.tab-clicked p {
  color: white;
}
.type {
  position: absolute;
  transition: opacity 0.3s;
  width: 100%;
  padding: 0 1.8rem;
  top: 9rem;
}
.suv {
  width: 100%;
}
.suv6 {
  width: 87%;
}
.type-truck .prod,
.type-van .prod {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .cars-main {
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    justify-items: center;
    height: inherit;
    max-width: inherit;
  }
  .cars-cont {
    padding: 13px 1.3rem 0;
    width: 100%;
    max-width: none;
    height: inherit;
  }
  .car-info-cont1 {
    width: 100%;
    gap: 6rem;
    justify-content: space-between;
  }
  .car-info-cont1 h1 {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    flex: 177px;
  }
  .car-info-cont1 div {
    font-size: 1.2rem;
  }
  .car-info-cont2 {
    width: 80%;
  }
  .car-info {
    margin-bottom: 1rem;
    width: 100%;
  }
  .car-info > *:nth-child(1) {
    font-size: 3rem;
  }
  .car-info > * {
    font-size: 1rem;
  }
  .car-info img {
    max-width: 63px;
  }
  .car-info-cont2 > *:nth-child(2) {
    height: 70px;
  }
  .buy p:nth-child(2) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1018px) {
    @media screen and (max-width: 892px) {
      .car-info > * {
        font-size: 1.7vw;
      }
    }
    .cars-main {
      max-width: 750px;
      margin: auto;
      grid-template: repeat(6, 1fr) / 1fr;
    }
    .cars-cont {
      gap: 4rem;
    }
    .car-info > * {
      font-size: 1rem;
    }
    .cars2-main {
      padding: 2rem 2rem;
    }
    .tab-btns-cont {
      max-width: 750px;
      width: 100%;
      justify-content: space-around;
    }
    .tab-clicked {
      height: 55px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tab-btns p {
      font-size: 1rem;
    }
    @media screen and (max-width: 675px) {
      .tab-btns-cont {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        z-index: 10;
        border-radius: 20px;
        gap: 10px;
      }
      .tab-btns {
        border-radius: 20px;
        padding: 0;
      }
      .tab-btns p {
        text-align: center;
      }
      .type {
        margin-top: 4rem;
        padding: 0 1.5rem;
        width: 100%;
      }
      .cars2-topic {
        padding: 0 1.8rem;
      }
      .cars-main {
        width: 100%;
      }
      .car-info-cont1 {
        gap: 15px;
      }
      .car-info-cont1 h1 {
        border-radius: 20px;
        padding: 1rem;
        font-size: 4vw;
      }
      .car-info-cont1 p {
        font-size: 4vw;
      }
      .car-info-cont2 {
        width: 110%;
      }
      .car-info-cont2 > *:nth-child(2) {
        height: 60px;
      }
      .car-info img {
        max-width: 50px;
      }
      .car-info > * {
        font-size: 0.9rem;
      }
      .car-info i {
        font-size: 2.5rem;
      }
    }
  }
}
.book {
  position: relative;
  background-image: url("book.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6rem auto 0;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.book-topic-cont h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.book-cont2 {
  display: flex;
  gap: 3rem;
}
.book-cont3 {
  display: flex;
  gap: 3rem;
}
.book-cont2 > * {
  flex: 1;
}
.book-cont3 > * {
  flex: 1;
}
.topic {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
}
.topic p {
  margin: 0;
  font-weight: 800;
}
.box {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  border: 1px solid #ccd7e6;
  border-radius: 3px;
  color: #ababab;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  outline: none;
  padding-left: 10px;
}
.topic i {
  font-size: 1.2rem;
}
.date {
  border: 1px solid #ccd7e6;
  color: #878585;
  outline: none;
  padding: 0 15px;
}
.msg {
  display: none;
}
.message {
  display: inline-block;
  animation: blinker 2.5s linear infinite;
  transition: 0.3s;
  font-size: 11px;
  position: absolute;
  right: 0;
  color: red;
  bottom: 0;
  margin: 0;
  font-weight: 800;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.topic b {
  margin-left: 3px;
  color: red;
}
.search {
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  box-shadow: 0 10px 15px #0000004d;
  transition: 0.3s;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.search p {
  margin: 0;
}
.search:hover {
  box-shadow: 0 10px 15px #0000008a;
}
.book-form {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1.5rem;
}

@media screen and (max-width: 1210px) {
  .message {
    margin-bottom: -10px;
  }
  @media screen and (max-width: 1024px) {
    .book-form {
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    @media screen and (max-width: 630px) {
      .book-form {
        grid-template: 1fr /1fr;
      }
    }
  }
}
.reserve-cont {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  padding: 2rem 10rem 10px;
}
.reserve {
  max-width: 880px;
  position: relative;
  background: white;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.reserve-child1 {
  background-color: #222a2f;
  padding: 10px;
}
.reserve-child1 h1 {
  color: white;
  font-size: 1.7rem;
  margin: 0;
}
.reserve-child1 h1 {
  margin: 9px 20px;
}
.reserve-child2 > * {
  margin: 0;
}
.reserve-child2 {
  padding: 1rem 1rem 1rem 2rem;
  background-color: #8080803b;
}
.upon_msg {
  display: inline;
}
.reserve-child2 i {
  font-size: 1.3rem;
  margin-right: 10px;
}

.reserve-child2 > :nth-child(2) {
  display: inline-block;
  margin-left: 8px;
  font-size: 1.5rem;
}

.reserve-child2 > :nth-child(3) {
  font-size: 1.1rem;
  margin-top: 3px;
}

.reserve-child3 {
  max-height: 435px;
  height: 100%;
  gap: 2rem;
  display: flex;
  padding: 2rem 2rem 0;
  justify-content: space-between;
}

.res-car p:nth-child(1) {
  max-width: 500px;
  font-weight: 900;
  font-size: 1.5rem;
}
.reserve-btn p {
  transition: 0.3s;
  margin: 0;
  color: #232222;
  font-weight: 900;
  font-size: 1.3rem;
  z-index: 9999999;
  position: relative;
}
.res-info-cont {
  gap: 1rem;
  border: 1px solid #8080805e;
  flex: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reserve-btn:nth-child(2):hover p {
  color: white;
}
.info-div1 {
  position: relative;
  background: gainsboro;
  flex: 1;

  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px;
}
.info-div2 {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.res-info-cont > :nth-child(1) {
  font-size: 1.5rem;
  display: none;
  margin: 0;
}
.res-car {
  display: flex;
  flex-direction: column;
  flex: 70%;
  margin-bottom: 3rem;
}
.res-car img {
  width: 100%;
  margin: auto;
  mix-blend-mode: multiply;
}
.category {
  width: 1.5rem;
  margin-top: 4px;
}
.res-info-cont i {
  margin-top: 7px;
}
.res-info-cont p {
  margin: 0;
  opacity: 0.8;
  font-weight: 800;
  display: inline-block;
  font-size: 1.15rem;
}

.loader {
  border: 10px solid #eaf0f6;
  border-radius: 50%;
  border-top: 10px solid #000000a8;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
  z-index: 9999999999999;
}
.loader-cont {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0000003d;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.reserve-btn {
  right: 0;
}
.res-car div {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
}
.res-car p:nth-child(2) {
  padding: 7px 20px 7px;
  height: min-content;
  justify-content: center;
  border-radius: 6px;
  background: #2c5b81;
  color: white;
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}
.reserve-child4 {
  position: absolute;
  right: 0;
  display: flex;
  gap: 1rem;
  padding-right: 3rem;
}
.reserve-btn:nth-child(1) {
  font-weight: 900;
  font-size: 1.2rem;
  padding: 4px 3.5rem;
}
.reserve-btn:nth-child(2) {
  border: 1px solid #c9dff4;
  color: black;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 10px 3.5rem;
  background: black;
  position: relative;
}
.reserve-btn:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 4px;
  left: 1px;
  background-color: white;
  transition: 0.3s;
  border-radius: 5px;
}
.reserve-btn:nth-child(2):hover::before {
  background-color: black;
}
.p-info {
  font-size: 1.3rem;
  font-weight: 800;
  left: 36px;
}
.res-car b {
  font-size: 1.2rem;
  opacity: 0.9;
  margin-right: 6px;
}
.confirm {
  padding-left: 10px;
  gap: 10px;
  width: 100%;
  height: 46px;
  background-color: #c3fabe;
  margin-top: -28px;
  display: flex;
  align-items: center;
}
.confirm p {
  margin: 0;
}
.confirm img {
  mix-blend-mode: hard-light;
  width: 30px;
}
@media screen and (max-width: 1027px) {
  .reserve-cont {
    padding: 2rem 7rem 10px;
  }
  @media screen and (max-width: 931px) {
    .reserve-cont {
      padding: 2rem 7rem 0;
      display: flex;
      overflow-y: scroll;
    }
    .reserve {
      display: flex;
      flex-direction: column;
      max-width: none;
    }
    .reserve-child3 {
      flex-direction: column;
      height: initial;
      max-height: initial;
    }
    .reserve-child4 {
      justify-content: flex-end;
      position: inherit;
      right: inherit;
      bottom: inherit;
    }
    #bd .reserve-child4 > * {
      max-width: 171px;
      width: 100%;
      padding-left: initial;
      padding-right: initial;
    }
    .reserve-cont {
      padding-left: 6rem;
      padding-right: 6rem;
    }
    @media screen and (max-width: 660px) {
      .res-car div {
        flex-direction: column;
        gap: inherit;
      }
      .res-car p:nth-child(2) {
        font-size: 1.3rem;
      }

      #bd .reserve-child4 {
        padding-left: 45px;
        flex-direction: column;
        align-items: center;
      }
      #bd .reserve-child4 > * {
        max-width: none;
        width: 100%;
        height: 48px;
        padding: 0;
      }
      .reserve-child2 div {
        display: flex;
        align-items: flex-start;
        margin-bottom: 9px;
      }

      .reserve-child2 div p {
        margin-left: 8px;
        font-size: 1.5rem;
        margin-bottom: 0;
        font-weight: 600;
      }
      .reserve-child2 i {
        margin-top: 10px;
      }
      @media screen and (max-width: 500px) {
        .reserve-cont {
          padding-left: 35px;
          padding-right: 35px;
        }
      }
    }
  }
}
.client {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  width: 100%;
  gap: 2rem;
  margin: 8rem auto;
  grid-template-columns: repeat(6, auto);
  justify-items: center;
  border: 1px solid #80808061;
  box-shadow: 2px 2px 3px;
  opacity: 0.5;
}
.client > * {
  max-width: 280px;
}
.client > *:nth-child(1) {
  max-width: 130px;
}
.client > *:nth-child(5) {
  max-width: 100px;
}
.client > *:nth-child(6) {
  max-width: 140px;
}
.step-main-cont1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
}
.select,
.operat,
.drive {
  max-width: 130px;
}
.step-main-cont2 > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step-main-cont2 {
  display: flex;
  align-items: center;

  gap: 2rem;
  text-align: center;
  margin: 0 auto 9rem;
}
.step-main-cont1 p {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.step-main-cont1 img {
  max-width: 9rem;
}
.step-main-cont1 h1 {
  margin: 1rem 0 0;
  max-width: 750px;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.79;
  text-align: center;
}
.step1-cont h6,
.step2-cont h6,
.step3-cont h6 {
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.step3-cont p {
  max-width: 1060px;
}
.bg {
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 104%;
  left: -35px;
  padding: 5%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-image: url(bg.png);
  background-color: rgb(0 0 0);
  background-blend-mode: luminosity;
}
.bg h4,
.bg p {
  text-shadow: 2px 2px 4px rgb(0 0 0);
}
.bg h4 {
  font-size: 2.7rem;
  margin: 0;
  max-width: 900px;
  font-weight: 900;
  font-family: Poppins, sans-serif;
  line-height: 1;
}
.bg p {
  margin: 14px 0 0;
  font-size: 1.3rem;
}
.bg b {
  color: #9ef1f1;
}
.bg div:nth-child(2) {
  display: none;
}
.choose-us-cont {
  margin-top: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-us-cont img {
  width: 100%;
}
.choose-main-cont {
  display: flex;
  gap: 2rem;
  max-width: 1375px;
  justify-content: space-between;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}
.choose-cont1 {
  flex: 45%;
}
.choose-cont1 p:nth-child(1) {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0;
}
.choose-cont1 > :nth-child(3) {
  max-width: 80%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.choose-cont1 a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 10px 3.5rem;
  background: black;
  transition: 0.3s;
}
.choose-cont1 a:hover {
  box-shadow: 0 4px 15px #0000008a;
}
.choose-cont2 {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 27%;
}
.choose-cont2 > * {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.choose-cont2 img {
  max-width: 100px;
}
.choose-cont2 h1 {
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .bg h4 {
    font-size: 2.4rem;
    max-width: 80%;
    margin-left: 1.7rem;
  }
  .bg p {
    margin: 0 3rem;
  }
  @media screen and (max-width: 1045px) {
    .choose-main-cont {
      flex-direction: column;
      align-items: center;
      gap: 5rem;
    }
    .choose-cont1 {
      max-width: 800px;
      text-align: center;
    }
    .choose-cont1 p:nth-child(1) {
      font-size: 1.9rem;
    }
    .choose-cont1 {
      font-weight: 800;
      margin-top: 10px;
    }
    .choose-cont1 > :nth-child(3) {
      font-size: 1.3rem;
      max-width: 90%;
      display: inline-block;
      font-weight: 100;
    }
    .choose-cont1 a {
      white-space: nowrap;
    }
    .choose-cont2 {
      max-width: 800px;
    }
    .choose-cont1 h1 {
      font-weight: 900;
    }
    .choose-list-cont1 p {
      font-size: 1.3rem;
    }
    @media screen and (max-width: 900px) {
      .client {
        grid-template: 1fr 1fr / repeat(3, 1fr);
        padding: 10px;
      }
      .step-main-cont2 {
        flex-wrap: wrap;
        justify-content: center;
      }
      .step-main-cont2 > * {
        max-width: 550px;
      }
      .step1-cont h6,
      .step2-cont h6,
      .step3-cont h6 {
        font-size: 1.7rem;
      }
      .step1-cont p,
      .step2-cont p,
      .step3-cont p {
        font-size: 1.4rem;
      }
      .step-main-cont1 h1 {
        font-size: 2rem;
      }
      @media screen and (max-width: 392px) {
        .client {
          grid-template: repeat(3, 1fr) / repeat(2, 1fr);
          gap: 2rem;
          padding: 10px;
        }
        .choose-us-cont {
          margin-top: 41rem;
        }
        .choose-main-cont {
          margin-top: 5vw;
        }
      }
    }
  }
}
.testimonial {
  margin: 8rem;
}
.testim-child2 {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.photo-cont {
  display: flex;
  align-items: center;
}
.photo-cont img {
  max-width: 100px;
}
.photo-cont p {
  margin: 0;
  text-transform: uppercase;
}
.photo-cont img:nth-child(2) {
  max-width: 90px;
}
.testim-child1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.testim-child1 h1 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.hr {
  max-width: 9rem;
}
.testim-child1 p {
  margin: 10px 0 0;
  max-width: 750px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.88;
  text-align: center;
}
.testim-cont {
  box-shadow: 0 2px 4px rgb(0 0 0 / 35%);
  border-top: 1px solid #0000001a;
  padding: 15px;
  max-width: 560px;
}
.testim-descr-cont {
  background-color: #9a9a9b;
  padding: 10px;
  margin-bottom: 3rem;
  position: relative;
}
.testim-descr-cont::before {
  content: "";
  position: absolute;
  z-index: 10000;
  bottom: -26px;
  background-color: #555756;
  width: 0;
  height: 0;
  /* border-radius: 0 0 0 50%; */
  left: 0;
  box-shadow: inset 12px 0 13px rgba(0, 0, 0, 0.5);
  border: 13px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
}
.testim-descr-cont p {
  margin: 0;
  color: white;
  display: inline;
  margin-left: 10px;
}
.photo-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.photo-cont > :nth-child(1) {
  min-width: 70px;
  height: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: 3px solid #fff;
}
.photo-cont img {
  max-width: 100px;
  height: 140%;
}
#bd .photo2 {
  height: 100%;
}
.testim-descr-cont i {
  font-size: 2rem;
}
.accordion-cont {
  display: flex;
  flex-direction: column;
  max-width: 1162px;
  justify-content: center;
  margin: 1rem auto 10rem;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
}
.faq-title-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}
.faq-title-cont h3 {
  font-weight: 900;
  font-size: 3rem;
}
.faq-title-cont img {
  max-width: 9rem;
}
.faq-title-cont p {
  max-width: 700px;
  margin-top: 1rem;
  font-size: 1.3rem;
}
.accordion-cont p {
  margin: 30px 0 30px 0;
  font-size: 1.1rem;
}
.accordion-cont h5 {
  margin: 10px;
}
@media screen and (max-width: 1000px) {
  .testim-child2 {
    flex-direction: column;
  }
  .testim-cont {
    max-width: 660px;
  }
  .testimonial {
    margin: 8rem 0;
  }
  .bg {
    width: 100%;
    left: 0;
  }
  .bg h4 {
    margin-left: 0;
  }
  @media screen and (max-width: 500px) {
    .testim-child1 h1 {
      font-size: 10vw;
    }
  }
}
.mobile {
  background-image: url(road_bg.png);
  background-size: cover;
  background-position: 240px -10px;
  background-blend-mode: overlay;
  position: relative;
  display: flex;
  background-color: #000000e3;
  height: 444.562px;
  border-radius: 60px;
  justify-content: center;
  margin-top: 20rem;
}
.down-grid-cont {
  gap: 2rem;
  position: absolute;
  top: -125px;
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
.down-grid-cont > * {
  grid-area: 2;
}
.download-cont h1 {
  max-width: 400px;
  color: white;
}
.download-cont h1 {
  color: white;
}

.btn-cont {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  max-width: 357px;
}
.btn-cont > * {
  display: flex;
  flex: 1;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 10px 0;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.btn-cont i {
  font-size: 2.3rem;
}
.btn-cont p {
  margin: 0;
}
.btn-cont p:nth-child(1) {
  font-size: 0.69rem;
}
.btn-cont p:nth-child(2) {
  font-weight: 900;
}
.btn-cont img:nth-child(1) {
  max-width: 35px;
}
.mobile-img {
  max-width: 340px;
  margin: auto;
  grid-area: 1 / 2 / 4 / 2;
}
.download-cont > :nth-child(2) {
  color: white;
}
@media screen and (max-width: 920px) {
  .mobile {
    height: inherit;
  }
  .down-grid-cont {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: initial;
    padding: 2rem;
    width: 100%;
    align-items: center;
  }
  .down-grid-cont > * {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    width: 100%;
  }
  .btn-cont {
    width: 100%;
    max-width: 500px;
  }
  .mobile-img {
    max-width: 450px;
    margin: inherit;
  }
  @media screen and (max-width: 450px) {
    .btn-cont {
      flex-direction: column;
    }
    .btn-cont > * {
      max-width: 220px;
      width: 100%;
    }
  }
}
.footer {
  display: grid;
  grid-auto-flow: column;
  margin-top: 15rem;
  gap: 3rem;
  position: absolute;
  width: 103%;
  left: -25px;
  background-color: #ffffff8a;
  padding: 4rem 4rem 5rem;
  justify-content: space-between;
}
.footer-form {
  display: grid;
  gap: 10px;
  margin-top: 2rem;
}
.footer-childs:nth-child(1) p {
  max-width: 300px;
}
.footer-childs:nth-child(4) {
  max-width: 360px;
}

.footer-childs h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.footer-childs:nth-child(3) p {
  margin-bottom: 16px;
}

.footer-form input:nth-child(1) {
  max-width: 270px;
  height: 45px;
  padding-left: 45px;
  border-radius: 5px;
  outline: 0;
  border: transparent;
  background-color: #ececec;
}
.footer-form input:nth-child(2) {
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  max-width: 270px;
}
.footer-form input:nth-child(2):hover {
  box-shadow: 0px 7px 15px #00000069;
}
.footer-childs a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 18px;
  transition: 0.3s;
  text-transform: capitalize;
}
.footer-childs a:hover {
  font-weight: 900;
}
.info-cont {
  display: flex;
  gap: 10px;
  font-weight: 900;
}
.footer-childs i {
  font-size: 1.5rem;
}
.social-cont {
  display: flex;
  gap: 1rem;
}
.social-cont i {
  cursor: pointer;
  transition: 0.2s;
  margin-top: 5px;
}
.social-cont i:nth-child(1):hover {
  color: #3583ba;
}
.social-cont i:nth-child(2):hover {
  color: #22bdd2;
}
.social-cont i:nth-child(3):hover {
  color: #2f7c98;
}
.social-cont i:nth-child(4):hover {
  color: #c30000;
}
.copy {
  position: absolute;
  bottom: 0;
  justify-self: center;
}
.confirm-cont {
  margin-top: 1rem;
  display: flex;
  max-width: 270px;
  align-items: center;
  background-color: #c3fabe;
  padding: 5px;
}
.confirm-cont img {
  width: 30px;
}
.confirm-cont p {
  margin: 0;
}

@media screen and (max-width: 860px) {
  .footer {
    grid-template: 1fr 1fr / 1fr 1fr;
    width: 102%;
    left: -17px;
  }
  @media screen and (max-width: 560px) {
    .footer {
      grid-template: 1fr 1fr 1fr 1fr / 1fr;
      text-align: center;
    }
    .footer-childs:nth-child(1) p {
      display: inline-block;
    }
    .info-cont {
      justify-content: center;
    }
    .social-cont {
      justify-content: center;
    }
    .footer-childs:nth-child(4) {
      margin: auto;
    }
    .footer-form {
      justify-content: center;
    }
  }
}
.vehicles .client,
.vehicles .bg {
  display: none;
}
.vehicles .type > :nth-child(n + 3):not(:last-child) {
  display: none;
}
.vh-topic-cont {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vh-topic-cont h1 {
  font-weight: 900;
}
.vh-topic-cont p {
  margin-bottom: 10px;
  text-align: center;
}
.vh-topic-cont img {
  max-width: 10rem;
}

.vh-main-cont {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template: 1fr / 1fr 1fr;
}
.vh-main-cont div {
  align-self: flex-start;
  padding: 12px 0 0 3rem;
}
.bg-vh-img {
  mix-blend-mode: darken;
  max-width: 50vw;
  justify-self: flex-end;
  align-self: flex-start;
}
.vh-cont {
  position: relative;
}
.vh_bg1 {
  position: absolute;
  width: 100%;
  z-index: -30;
  bottom: 0;
}
.vh-car-cont {
  display: flex;
  gap: 1rem;
}
.vh-car-cont img {
  max-width: 120px;
  mix-blend-mode: darken;
}
.vh-descrp-cont a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 10px 3.5rem;
  background: black;
  transition: 0.3s;
}
.vh-descrp-cont h1 {
  font-weight: 900;
}
.vh-descrp-cont a:hover {
  box-shadow: 0 4px 15px #0000008a;
}
.vh-descrp-cont ul {
  margin-bottom: 2rem;
}
.bg-vh-img2 {
  display: none;
}
@media screen and (max-width: 1224px) {
  .bg-vh-img2 {
    display: inline;
    width: 100vw;
    mix-blend-mode: darken;
    justify-self: center;
  }
  .bg-vh-img,
  .vh-descrp-cont ul {
    display: none;
  }
  .vh-main-cont {
    grid-template: auto auto/ 1fr;
  }
  .vh-main-cont div {
    justify-self: center;
    text-align: center;
    padding: 0;
    justify-content: center;
  }
  .vh-descrp-cont p {
    margin-bottom: 2rem;
    text-align: center;
    max-width: 850px;
  }
  .vh-descrp-cont h1 {
    margin-top: 1rem;
  }
  @media screen and (max-width: 730px) {
    .vh-main-cont div {
      padding: 20px;
    }

    .vh-descrp-cont h1,
    .vh-car-cont,
    .vh-descrp-cont ul {
      display: none;
    }
    @media screen and (max-width: 339px) {
      .vh-descrp-cont a {
        padding: 10px 2rem;
      }
    }
  }
}
.abt-main {
  display: flex;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}
.abt-main img {
  max-width: 400px;
}
.icons-cont img {
  max-width: 50px;
}
.unique-cont {
  display: flex;
  gap: 3rem;
}
.abt-descrp {
  max-width: 580px;
}
.icons-cont i {
  font-size: 2.3rem;
}
.icons-cont div {
  display: flex;
  flex-direction: column;
}
.icons-cont h4 {
  margin: 10px 0 0;
  font-weight: 900;
}
.icons-cont p {
  margin: 0;
  white-space: nowrap;
}
.about-topic-cont {
  display: grid;
  grid-template: 1fr / 1fr;
  padding-top: 11px;
  height: 100vh;
}
.about-topic-cont img:nth-child(1) {
  grid-area: 1 / 1;
  align-self: center;
  align-items: center;
  width: 100%;
  height: auto;
  mix-blend-mode: darken;
  z-index: -1;
}
.about-topic-cont img:nth-child(2) {
  display: none;
}
.about-topic-cont div {
  grid-area: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.about-topic-cont h1 {
  font-weight: 900;
}
.about-topic-cont p {
  text-align: center;
  max-width: 1020px;
  font-size: 1.1rem;
  margin: 0 4rem;
}
.about .step {
  padding-bottom: 10rem;
  max-width: 1472px;
  margin: 9rem auto 0;
  padding: 0 1rem;
}
.about .step-main-cont1 p {
  font-size: 2.5rem;
}
.about .step-main-cont2 {
  margin: 0 auto 9rem;
}
.about .bg div:nth-child(1) {
  display: none;
}
.about .bg div:nth-child(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 2rem;
}
.about .bg div:nth-child(2) img {
  max-width: 150px;
}
.about .bg div:nth-child(2) img {
  max-width: 150px;
}
.about .bg div:nth-child(2) p {
  font-size: 2.7rem;
  margin: 0;
  max-width: 1110px;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  line-height: 1;
}

.about .footer {
  width: 100%;
  margin-top: 35rem;
  left: 0;
}
.about .bg {
  width: 100%;
  left: 0;
}

@media screen and (max-width: 900px) {
  .about-topic-cont {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 2rem;
  }
  .about-topic-cont img:nth-child(1) {
    display: none;
  }
  .about-topic-cont img:nth-child(2) {
    display: inline;
    width: 100%;
  }
  .about-topic-cont div {
    align-items: center;
    margin-top: 10rem;
  }
  @media screen and (max-width: 890px) {
    .about .footer {
      grid-template: 1fr 1fr / 1fr 1fr;
    }
    .abt-descrp {
      text-align: center;
    }
    .abt-main {
      margin-top: 6rem;
      flex-direction: column;
    }
    .unique-cont {
      justify-content: center;
      text-align: center;
      margin-top: 3rem;
    }
    @media screen and (max-width: 560px) {
      .about .footer {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        text-align: center;
      }
      .about .footer-childs:nth-child(1) p {
        display: inline-block;
      }
      .about .info-cont {
        justify-content: center;
      }
      .about .social-cont {
        justify-content: center;
      }
      .about .footer-childs:nth-child(4) {
        margin: auto;
      }
      .about .footer-form {
        justify-content: center;
      }
      @media screen and (max-width: 400px) {
        .unique-cont {
          flex-wrap: wrap;
        }
        .icons-cont:nth-child(3) {
          flex-basis: 100%;
        }
      }
    }
  }
}
.contc-cont {
  display: flex;
  max-width: 1480px;
  justify-content: space-between;
  margin: 13rem auto;
}
.contc-descrp {
  padding-left: 4rem;
}
.contc-form {
  padding: 0 2rem;
    max-width: 830px;
    grid-template: 1fr / 1fr;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: -1rem;
}
.contc-form input:not(:last-child) {
  font-weight: 900;
  height: 55px;
  padding-left: 35px;
  border-radius: 5px;
  outline: 0;
  border: transparent;
  background-color: #dfdfdf;
}
.contc-form input:last-child {
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  margin-top: 1rem;
}
.contc-form textarea {
  padding: 17px 0 0 35px;
  border-radius: 5px;
  font-weight: 900;
  outline: 0;
  border: transparent;
  background-color: #dfdfdf;
}
.contact .footer{
  margin: inherit;
}
.contc-descrp > :nth-child(2) {
  max-width: 450px;
  margin-bottom: 2rem;
  font-weight: 600;

}
.contc-descrp h1 {
  font-weight: 900;
}
.contact .info-cont {
  margin-bottom: 1rem;
}
.contact .info-cont i {
  font-size: 1.7rem;
}
.contact .info-cont p {
  margin: 0 8px 0 0;
  font-size: 1.2rem;
}
.contc-form b {
  color: red;
  margin-left: 2px;
}
.contact > :nth-child(2) {
  max-width: 530px;
  position: absolute;
  left: 15rem;
  bottom: 30px;
  z-index: -1;
  opacity: 0.4;
}
.contact .confirm-cont{
  max-width: none;
}
@media screen and (max-width:800px) {
  .contc-cont{
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .contc-descrp{
    text-align: center;
    padding: 0 2rem;
  }
  .contact .info-cont{
    justify-content: center;
  }
  .contact > :nth-child(2){
    display: none;
  }
  .contc-form textarea{
    padding-left: 20px;
  }
  .contc-form input:not(:last-child){
    padding-left: 20px;
  }
}